.array-container {
    position: relative;
    left: ((1-100*.8)*.5)%;
    

}

.array-bar{
    position:relative;
    width: .8%;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

#buttons button {
    font-size: 30px; /* Adjust as needed */
    padding: 10px 20px; /* Adjust as needed */
  }
  